* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

:root {
    --bg-navbar: linear-gradient(120deg, #0033b0, #009fe8, #05eeaf);
	--f-style-nav: italic;
}

.navbar {
    background: var(--bg-navbar);
}

.navbar-brand {
	font-style: var(--f-style-nav);
}

.carousel-item img{
	width: 100%;
	height: 93vh;
}

#emailHelp {
	color: #395bb1;
	font-weight: 500;
	font-style: italic;
}

.horizontal-card-img img{
	width: 100%;
	height: 35vh;
}

.about_img{
	min-width: 100%;
	max-height: 280px;
}

.my-service img{
	width: 100%;
	height: 100%;
}

.chekcout-my-profile{
	background: rgb(226, 213, 213);
}

footer p{
	margin-bottom: 0;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: 100%;
    
}

a img {
    width: 200px;
	transition: filter 0.5s ease, width 1s ease, height 1s ease;  /* Añade una transición suave */
}

a .edificios {
    position: absolute;
    transform: translate(0px, 100px);
}

a .naval {
    position: absolute;
    transform: translate(110px, 180px);
    z-index: 2;
}


a .residencial {
    position: absolute;
    transform: translate(-130px, 170px);
    width: 181px;
    z-index: 3;
}

a .institucional {
    position: absolute;
    transform: translate(-30px, 230px);
    z-index: 5;
    width: 145px;
}

a .ambiental {
    position: absolute;
    transform: translate(50px, 277px);
    width: 129px;
    z-index: 10;
}


.container a > img:hover {
    filter: grayscale(0%);
    width:  230px;
    height: 200px;
    z-index: 20;
    
  }

  .container img:not:hover {
    filter: grayscale(100%);

    
  }
/*.my-service .row>*{
	padding-right: 0;
    padding-left: 0;
}*/

/*for responsive design*/
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }